<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Places</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <style>
        i.bi{
            margin-right: 10px;
            font-size: 20px;
        }
        button.delete{
            background-color: transparent;
            border: none;
            color: Blue;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'index' %}">Python2108</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'list_places' %}">Place <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'list_restaurant' %}">Restaurant</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href ="{% url 'list_waiter' %}">Waiter</a>
      </li>
    </ul>
    {% comment %} <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> {% endcomment %}
  </div>
 
</nav>

    <div class = "container-fluid">
        <div class="row">
            <div class = "col-12">
                <table class="table table-striped">
                    <tr>
                        <th scope="col">Place Name</th>
                        <th scope="col">Serve Pizza</th>
                        <th scope="col">Serve HotDogs</th>
                        <th scope="col">Serve Pho</th>
                        <th scope="col">
                            <a href = "{% url 'add_restaurant' %}">
                                <i class="bi bi-plus-circle"></i> 
                            </a>
                        </th>
                    </tr>
                    {% for restaurant in restaurants %}
                        <tr>

                            <td scope="row">{{ restaurant.place.name }}</td>
                            <td>
                            <input type="checkbox" name="serves_pizza" id="serves_pizza" disabled {% if restaurant.serves_pizza %} checked {% endif %}>
                            </td>
                            <td>
                            <input type="checkbox" name="serves_hot_dogs" id="serves_hot_dogs" disabled {% if restaurant.serves_hot_dogs %} checked {% endif %}>
                            </td>
                            <td>
                            <input type="checkbox" name="serves_pho" id="serves_pho" disabled {% if restaurant.serves_pho %} checked {% endif %}>
                            </td>
                            
                            <td>
                                <a href="{% url 'view_detail_restaurant' place_id=restaurant.place.id %}" url="/restaurant/detail/{{place.id}}">
                                <i class="bi bi-eye"></i>
                                </a>
                                <a href ="{% url 'update_restaurant' place_id=restaurant.place.id %}"><i class="bi bi-pen"></i>
                                </a>
                                <a href ="{% url 'delete_restaurant' place_id=restaurant.place.id %}"><i class="bi bi-trash"></i>
                                </a>
                                                               
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>
</html>